.tnt-media-sign-up {

}


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    font-family: 'Montserrat', sans-serif;
}

.tnt-media-sign-up h1 {
    font-weight: bold;
    margin: 0;
}


.tnt-media-sign-up h2 {
    text-align: center;
}


.tnt-media-sign-up p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}


.tnt-media-sign-up span {
    font-size: 12px;
}


.tnt-media-sign-up a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}


.tnt-media-sign-up button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}


.tnt-media-sign-up button:active {
    transform: scale(0.95);
}


.tnt-media-sign-up button:focus {
    outline: none;
}


.tnt-media-sign-up button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}


.tnt-media-sign-up form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}


.tnt-media-sign-up input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}


.tnt-media-sign-up .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}


.tnt-media-sign-up .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}


.tnt-media-sign-up .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}


.tnt-media-sign-up .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}


.tnt-media-sign-up .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}


.tnt-media-sign-up .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}


.tnt-media-sign-up @keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }


.tnt-media-sign-up     50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}


.tnt-media-sign-up .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}


.tnt-media-sign-up .container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}


.tnt-media-sign-up .overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}


.tnt-media-sign-up .container.right-panel-active .overlay {
    transform: translateX(50%);
}


.tnt-media-sign-up .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}


.tnt-media-sign-up .overlay-left {
    transform: translateX(-20%);
}


.tnt-media-sign-up .container.right-panel-active .overlay-left {
    transform: translateX(0);
}


.tnt-media-sign-up .overlay-right {
    right: 0;
    transform: translateX(0);
}


.tnt-media-sign-up .container.right-panel-active .overlay-right {
    transform: translateX(20%);
}


.tnt-media-sign-up .social-container {
    margin: 20px 0;
}


.tnt-media-sign-up .social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}


.tnt-media-sign-up footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}


.tnt-media-sign-up footer p {
    margin: 10px 0;
}


.tnt-media-sign-up footer i {
    color: red;
}


.tnt-media-sign-up footer a {
    color: #3c97bf;
    text-decoration: none;
}