#birds-js {
    background: linear-gradient(#ccddee, #FFD3D6);
    padding-bottom: 7.5em;
}

#navigation-stars {
    background: linear-gradient(#ccddee, #FFD3D6) !important;
}

#birds-js canvas {
    display: block;
    vertical-align: bottom;
    height: 700px;
    position: absolute;
}

#canv-nav {
    display: block;
    vertical-align: bottom;
    height: 100px;
    position: absolute;
}

#header .headingone {
    color: #4a2762;
}

.iphone-case {
    background: url('https://static.independent.co.uk/2021/02/17/17/sunny%20sands.jpg') no-repeat;
    background-size: auto 100%;
}

#header .headingtwo, #star-con .headingtwo {
    font-family: Franklin Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    width: 100%;
    font-size: calc(44px + (16 * ((100vw - 375px) / 1225)));
    letter-spacing: -1px;
    line-height: calc(56px + (8 * ((100vw - 375px) / 1225)));
    margin-top: 16px;
    color: #bea671;
    background: rgb(131,58,180);
    background: linear-gradient(
            90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 100%);
    z-index:0;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 400px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 700;
}

#header .heading-text {
    z-index: 700;
    position: relative;
    margin-top: 3em;
}

#header .body, #star-con .body {
    margin-top: 20px;
    color: rgba(62,17,82,1) !important;
    font-family: Franklin Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 28px;
}

#clouds-con {
    position: relative;
    padding-bottom: 3em;
}
#clouds-con .body {
    color: rgba(62,17,82,1) !important;
}

#header .heading-text, #clouds-con .heading-text {
    z-index: 700;
    position: relative;
    margin-top: 3em;
}

.clouds {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(#ccddee, #FFD3D6) !important;
}

[class^="cloud-"] {
    position: absolute;
    right: 120%;
    width: 210px;
    height: 110px;
    background: #fff;
    -webkit-border-radius: 200px;
    border-radius: 200px;
}

[class^="cloud-"]:before,
[class^="cloud-"]:after {
    content: '';
    position: absolute;
    top: -15px;
    left: 10px;
    width: 100px;
    height: 80px;
    background: #fff;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);
}

[class^="cloud-"]:after {
    top: -55px;
    left: auto;
    right: 15px;
    width: 120px;
    height: 120px;
}

.cloud-1 {
    top: 50px;
    -webkit-animation: moveclouds 30s linear infinite;
    -moz-animation: moveclouds 30s linear infinite;
    -o-animation: moveclouds 30s linear infinite;
    animation: moveclouds 30s linear infinite;
}

.cloud-2 {
    top: 100px;
    opacity: 0.8;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-animation: moveclouds 45s linear infinite;
    -moz-animation: moveclouds 45s linear infinite;
    -o-animation: moveclouds 45s linear infinite;
    animation: moveclouds 45s linear infinite;
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    animation-delay: 5s;
}

.cloud-3 {
    top: 150px;
    opacity: 0.6;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation: moveclouds 40s linear infinite;
    -moz-animation: moveclouds 40s linear infinite;
    -o-animation: moveclouds 40s linear infinite;
    animation: moveclouds 40s linear infinite;
}

.cloud-4 {
    top: 200px;
    opacity: 0.75;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-animation: moveclouds 26s linear infinite;
    -moz-animation: moveclouds 26s linear infinite;
    -o-animation: moveclouds 26s linear infinite;
    animation: moveclouds 26s linear infinite;
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    animation-delay: 8s;
}

@media only screen and (max-width: 600px) {

    #navigation a {
        color: rgba(62,17,82,1) !important;
    }

    #tnt-menu-burger span {
        background: rgb(131,58,180) !important;
        background: linear-gradient(
                90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 100%) !important;
    }
}


@-webkit-keyframes moveclouds {
    0%   { right: -20%; }
    100% { right: 120%; }
}
@-moz-keyframes moveclouds {
    0%   { right: -20%; }
    100% { right: 120%; }
}
@-o-keyframes moveclouds {
    0%   { right: -20%; }
    100% { right: 120%; }
}

@media only screen and (max-width: 600px) {
    #birds-js {
        background: linear-gradient(#ccddee, #FFD3D6);
        padding-bottom: 3.5em;
    }
}