@font-face {
    font-family:'Franklin Gothic';
    font-style:normal;
    font-weight:400;
    src:url(https://static.xx.fbcdn.net/rsrc.php/yQ/r/_hhMCEJbkSj.woff2) format('woff2'), url(https://static.xx.fbcdn.net/rsrc.php/yg/r/AVVQlnRSwGC.woff) format('woff'), url(https://static.xx.fbcdn.net/rsrc.php/yX/r/QAc0H7ugYDi.ttf) format('truetype'), url(https://static.xx.fbcdn.net/rsrc.php/ym/r/ywPX7VAnsgy.eot) format('embedded-opentype');
}
@font-face {
    font-family:'Franklin Gothic';
    font-style:normal;
    font-weight:500;
    src:url(https://static.xx.fbcdn.net/rsrc.php/yH/r/aI3Q0BRBEjl.woff2) format('woff2'), url(https://static.xx.fbcdn.net/rsrc.php/yd/r/Ofj4wG4bi1A.woff) format('woff'), url(https://static.xx.fbcdn.net/rsrc.php/yK/r/Hzupcp-ljmc.ttf) format('truetype'), url(https://static.xx.fbcdn.net/rsrc.php/y6/r/2zqDM0h6G6n.eot) format('embedded-opentype');
}
@font-face {
    font-family:'Aveny T';
    font-style:normal;
    font-weight:500;
    src:url(https://static.xx.fbcdn.net/rsrc.php/yC/r/UkFBufS5STa.woff2) format('woff2'), url(https://static.xx.fbcdn.net/rsrc.php/yt/r/kDZj6dM19uY.woff) format('woff'), url(https://static.xx.fbcdn.net/rsrc.php/yj/r/it0dfJPySq6.eot) format('embedded-opentype'), url(https://static.xx.fbcdn.net/rsrc.php/yQ/r/L-FByFC3jQg.svg) format('svg');
}
@font-face {
    font-family:'Vonique64';
    font-style:normal;
    font-weight:500;
    src:url('../fonts/vonique-64-font/Vonique64-JKgM.tff') format('ttf');
}
html, body {
    margin: 0;
    padding: 0;
    font-family: Franklin Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
}
#container {
    padding: 0px;
    margin: 0px;
}
#tnt-media-logo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tnt-media-main-content {
    background: #FFFFFF;
    /*background: rgb(8, 12, 20);*/
    /*background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);*/
}
.headingone {
    color: #4a2762;
    align-items: center;
    display: flex;
    font-family: Aveny T, Franklin Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.8px;
    line-height: 24px;
    margin: 0;
    padding-left: 2px;
    width: 100%;
    text-transform: uppercase;
    z-index: 700;
}

.headingtwo {
    font-family: Franklin Gothic, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: calc(44px + (16 * ((100vw - 375px) / 1225)));
    letter-spacing: -1px;
    line-height: calc(56px + (8 * ((100vw - 375px) / 1225)));
    margin-top: 16px;
    color: #bea671;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 100%);
    z-index:0;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 200px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 700;
}
.heading-text {
    z-index: 700;
    position: relative;
    color: #333;
}
.transition {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}