#navigation-stars {
    opacity: 1.0 !important;
}
#navigation .navbar-light a {
    color: #fff !important;
}
#tnt-menu-burger span {
    background: #fff !important;
}
#privacy-policy-container {
    margin-top: 180px;
}