.tnt-media-navigation-bar {
    z-index: 1001;
}
#tnt-media-navigation canvas {
    position: absolute;
}
#footer {
    position: relative;
    height: 100%;
    width: 100%;
}
#footer canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
}