#header canvas {
    display: block;
    vertical-align: bottom;
    position: absolute;
}

#stars {
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    position: absolute;
    z-index: 300;
    top: 0;
    left: 0;
}

.stars-container {
    height: auto;
    padding-bottom: 8em;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .stars-container {
        height: auto;
        padding-bottom: 20px;
        position: relative;
    }
}